/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-tagsinput
 *= require typeahead
 */

@import "bootstrap";

.primary {
  margin-top: 60px;
}

.project-list .project-thumb {
  height: 15em;
}

.bootstrap-tagsinput {
  width: 100%;
}

#footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 50px;
  color: #777;
  border-top: 1px solid #e5e5e5;

  .social {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .social-buttons li {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
}

.github-btn {
  border: 0;
  overflow: hidden;
}
